/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.resumo-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f9f7f7;
}

p {
     color: #ffffff;
}

a {
    color: #007bff;
}


/* style.css */
.livros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.livro {
    width: 200px;
    margin-bottom: 20px;
}

.livro img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.livro a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.livro a:hover {
    color: #007bff;
}



/* style.css */

body {
    background-image: url('OIP (1).jpeg');
    background-size: cover;
    background-position: center;
}

